/**
 * Image
 *
 * Basic image styling / responsive images
 *
 * @level X.X.
 */
// Variables
$base-image-responsive: true;
$base-image-responsive-gmap-fix: false;



@if $base-image-responsive {
  /**
   * Responsive image
   *
   * Keep images from scaling beyond the width of their parents.
   *
   * @level X.X.X.
   */
  img {
    width: auto;
    max-width: 100%;
    height: auto;
  }

  @if $base-image-responsive-gmap-fix {
    // Google Map fix
    .gmap img {
      max-width: none;
    }
  }
}
